Repository ragmha/life-os: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck, format

lint:
  run: bun lint

typecheck:
  run: bun typecheck

format:
  run: bun format

add knip
  .github/workflows/ci-cd.yml
  bun.lockb
  eslint.config.mjs
  knip.config.js
  lefthook.yml
  package.json
Due: lint, typecheck, format

fix eas
  .eas/workflows/main.yml
  .gitignore
  app.json
  bun.lockb
  eas.json
  package.json
Due: format

add expo doctor
  lefthook.yml
Due: none

fix: remove android and ios directories from git tracking and fix expo-doctor issues
  lefthook.yml
  package.json
Due: format

fix: remove android and ios directories from git tracking and fix expo-doctor issues
  README.md
  lefthook.yml
  package.json
Due: format

chore theme dir
  src/app/(tabs)/_layout.tsx
  src/app/(tabs)/index.tsx
  src/app/(tabs)/settings.tsx
  src/app/+not-found.tsx
  src/app/_layout.tsx
  src/app/theme-settings.tsx
  src/app/theme.tsx
  src/components/__tests__/themed-text.test.tsx
  src/components/error-boundary.tsx
  src/components/themed-text.tsx
  src/components/themed-view.tsx
  src/components/ui/theme-card.tsx
  src/components/ui/themed-container.tsx
  src/lib/test/mocks/theme.ts
  src/theme/colors.ts
  src/theme/hooks/index.ts
  src/theme/hooks/use-color-scheme.ts
  src/theme/hooks/use-color-scheme.web.ts
  src/theme/hooks/use-theme-color.ts
  src/theme/hooks/use-theme.tsx
  src/theme/index.ts
  src/theme/options.ts
  src/theme/responsive.ts
  src/theme/spacing.ts
  src/theme/typography.ts
  src/types/theme.ts
Due: lint, typecheck, format

refactor: remove unused themed components and navigation dependencies
  package.json
  src/components/error-boundary.tsx
  src/components/themed-view.tsx
  src/components/ui/tab-bar-background.ios.tsx
  src/components/ui/tab-bar-background.tsx
Due: lint, typecheck, format

simplify the naming
  src/app/(tabs)/index.tsx
  src/app/theme-settings.tsx
  src/app/theme.tsx
  src/components/__tests__/text.test.tsx
  src/components/card.tsx
  src/components/container.tsx
  src/components/text.tsx
  src/theme/options.ts
Due: lint, typecheck, format

calendar component
  .maestro/app_flow.yaml
  app.json
  bun.lockb
  package.json
  src/app/(tabs)/index.tsx
  src/components/calendar.tsx
Due: lint, typecheck, format

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  typecheck: any of: *.{js,ts,jsx,tsx}
  format: any of: *.{js,ts,jsx,tsx,json,md}
